<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shareddiary.mapper.CommentMapper">
    <insert id="addComment">
        INSERT INTO COMMENT (user_id,
            diary_id,
            context,
            use_yn,
            creator,
            create_time,
            modifier,
            modify_time)
        values (#{commentDto.userId}, #{commentDto.diaryId}, #{commentDto.context},'y', #{commentDto.userId}, NOW(), #{commentDto.userId}, NOW())
    </insert>

    <select id="getCommentList" resultType="com.shareddiary.dto.CommentDto">
        SELECT *
        FROM   comment
            INNER JOIN USER
                ON USER.user_id = comment.user_id
        WHERE  diary_id = #{diaryId}
            AND comment.use_yn = 'y'
    </select>
</mapper>